<template>
  <div :id="category.name" :class="['border-' + color, { single }]" class="card">
    <div :class="'text-' + color" class="card-header text-center">{{ category.name }}</div>

    <ul class="list-group list-group-flush">
      <a
        v-for="link in category.links"
        :key="link.title + '-' + link.image"
        :href="link.url"
        class="list-group-item list-group-item-action"
        :class="['border-right-' + color, { fuzzy: link.title === fuzzyBookmark }]"
      >
        <img v-if="link.image" :src="'img/apps/' + link.image + '.png'" />
        <img v-else :src="'img/apps/default.png'" />
        {{ link.title }}
      </a>
    </ul>
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref } from 'vue'

import eventBus from '@/eventBus'

// Props
const props = defineProps({
  category: {
    type: Object,
    required: true
  },
  colors: {
    type: Array,
    default: () => []
  },
  single: {
    type: Boolean,
    default: false
  }
})

// States
const fuzzyBookmark = ref('')

// Computed
const color = computed(() => props.colors[Math.floor(Math.random() * props.colors.length)])

// Add and remove event listeners
onMounted(() => {
  eventBus.on('fuzzysearch', (searchResult) => {
    fuzzyBookmark.value = searchResult?.title ?? ''
  })
})

onUnmounted(() => {
  eventBus.off('fuzzysearch')
})
</script>

<style scoped lang="scss">
@import '../scss/variables';

.card-columns .card {
  margin-bottom: 1rem;
}

.card {
  .list-group-item {
    display: flex;
    align-items: center;

    &.fuzzy {
      border-right-style: solid;
      border-right-width: 4px;

      &.border-right-primary {
        border-right-color: $primary;
      }

      &.border-right-secondary {
        border-right-color: $secondary;
      }

      &.border-right-success {
        border-right-color: $success;
      }

      &.border-right-warning {
        border-right-color: $warning;
      }

      &.border-right-danger {
        border-right-color: $danger;
      }

      &.border-right-info {
        border-right-color: $info;
      }

      &.border-right-dark {
        border-right-color: $dark;
      }
    }

    img {
      width: 16px;
      height: 16px;
      margin-right: 0.5rem;
    }
  }

  &.single {
    min-width: 15vw;
    min-height: 237px;
    border: none;

    .card-header {
      padding: 0.25rem 1rem;
      color: $white;
      background-color: $gray-800;
    }

    .list-group-item {
      padding: 0.25rem 0.5rem;
      color: $info;
      border: none;
    }
  }
}
</style>
