<template>
  <div id="search-form">
    <label :class="['text-' + color, titlePosition]" for="search" class="text-uppercase">{{ title }}</label>

    <input
      id="search"
      v-model="searchVal"
      :class="'border-' + color"
      type="text"
      class="form-control"
      autofocus
      autocomplete="off"
      @keyup.enter="search"
    />
  </div>
</template>

<script setup lang="ts">
import type { Ref } from 'vue'
import { ref, watch } from 'vue'

import eventBus from '@/eventBus'
import type { Bookmark, BookmarkCategory } from '@/types'

// Props
const props = defineProps({
  color: {
    type: String,
    default: 'primary'
  },
  title: {
    type: String,
    default: 'search'
  },
  // behind|above
  titlePosition: {
    type: String,
    default: 'behind'
  },
  bookmarks: {
    type: [Array, Object],
    required: true
  }
})

// States
const searchVal = ref('')
const fuzzyBookmark: Ref<Bookmark | null> = ref(null)

// Emit event on search
watch(searchVal, () => {
  // flatMap not supported by Edge...
  if (searchVal.value.length >= 2) {
    const flatBookmarks = props.bookmarks.flatMap((b: BookmarkCategory) => b.links)
    const fuzzyResult = flatBookmarks.filter((b: Bookmark) => b.title.toLowerCase().indexOf(searchVal.value) !== -1)

    if (fuzzyResult.length > 0) {
      fuzzyBookmark.value = fuzzyResult[0]
      eventBus.emit('fuzzysearch', fuzzyResult[0])
    } else {
      fuzzyBookmark.value = null
      eventBus.emit('fuzzysearch', undefined)
    }
  } else {
    eventBus.emit('fuzzysearch', undefined)
  }
})

// Methods

function search() {
  let destination = ''

  if (fuzzyBookmark.value) {
    // Fuzzysearch found a result, go to that bookmark
    destination = fuzzyBookmark.value.url
  } else if (searchVal.value.indexOf('://') !== -1) {
    // Check if it's and url
    destination = searchVal.value
  } else if (searchVal.value.split('.').length === 4) {
    // Check if it looks like an ip address (xxx.xxx.xxx.xxx)
    destination = 'http://' + searchVal.value
  } else if (searchVal.value.split(' ').indexOf('local') === 0) {
    // Check if it starts by the "local" keywords
    const keywords = searchVal.value.split(' ')
    destination = 'http://localhost' + (keywords.length === 2 ? ':' + keywords[1] : '')
  } else if (searchVal.value.indexOf('d ') === 0) {
    // Check if it starts by "d " to translate in Deepl
    destination = 'https://www.deepl.com/translator#fr/en/' + searchVal.value.replace('d ', '').replaceAll(' ', '%20')
  } else if (searchVal.value.indexOf('icon ') === 0) {
    // Check if it starts by "icon " to search on IconFinder
    destination =
      'https://www.iconfinder.com/search/?price=free&q=' + searchVal.value.replace('icon ', '').replaceAll(' ', '+')
  } else {
    // Default search on Google
    destination = 'https://www.google.fr/search?q=' + searchVal.value.replaceAll(' ', '+')
  }

  if (import.meta.env.DEV) console.log(destination)
  else if (destination && window.top) window.top.location = destination
}
</script>

<style scoped lang="scss">
@import '../scss/variables';

#search-form {
  position: relative;
  width: 50%;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
  text-align: center;

  @media (width <= 768px) {
    width: 100%;
  }

  label {
    z-index: 5;
    font-size: 5rem;

    &.behind {
      position: absolute;
      top: -120%;
      right: 0;
      left: 0;
    }

    &.above {
      margin-top: -20%;
      line-height: 5rem;
    }
  }

  input {
    position: relative;
    z-index: 10;
    display: block;
    width: 100%;
    max-width: 500px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    margin-right: auto;
    margin-left: auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $gray-700;
    background-color: $white;
    background-clip: padding-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    opacity: 0.9;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    &:focus {
      outline: 0;
    }

    &.border-primary:focus {
      box-shadow: 0 0 0 0.2rem rgb(233 84 32 / 25%);
    }

    &.border-secondary:focus {
      box-shadow: 0 0 0 0.2rem rgb(174 167 159 / 25%);
    }

    &.border-success:focus {
      box-shadow: 0 0 0 0.2rem rgb(56 180 74 / 25%);
    }

    &.border-warning:focus {
      box-shadow: 0 0 0 0.2rem rgb(239 183 62 / 25%);
    }

    &.border-danger:focus {
      box-shadow: 0 0 0 0.2rem rgb(223 56 44 / 25%);
    }

    &.border-info:focus {
      box-shadow: 0 0 0 0.2rem rgb(23 162 184 / 25%);
    }

    &.border-dark:focus {
      box-shadow: 0 0 0 0.2rem rgb(119 41 83 / 25%);
    }
  }
}
</style>
