<template>
  <div id="weather" class="card">
    <div class="card-header text-center">Météo</div>

    <a href="https://www.tameteo.com/meteo_Rennes-Europe-France-Ille+et+Vilaine-LFRN-1-26131.html">
      <img src="https://www.tameteo.com/wimages/foto6443e1a95fe4e01e112997c05e865f92.png" />
    </a>
  </div>
</template>

<style scoped lang="scss">
@import '../scss/variables';

.card {
  border: none;

  .card-header {
    padding: 0.25rem 1rem;
    color: $white;
    background-color: $gray-800;
  }

  img {
    width: 100%;
  }
}
</style>
