<template>
  <NewUrl />

  <div id="app" :class="[{ container: mode === 'office', 'hide-bookmarks': hideBookmarks }, mode]">
    <SearchBar
      :color="searchColor"
      :title="mode === 'office' ? 'search' : 'home'"
      :title-position="mode === 'office' ? 'behind' : 'above'"
      :bookmarks="bookmarks"
    />

    <div v-if="mode === 'office'" class="card-columns">
      <CategoryPanel v-for="category in bookmarksOffice" :key="category.name" :category="category" :colors="COLORS" />
    </div>

    <div v-if="mode === 'home'" class="card-bottom">
      <CategoryPanel
        v-for="category in bookmarksHome"
        :key="category.name"
        :category="category"
        class="home-categories"
        single
      />
      <WeatherPanel />
    </div>

    <div class="settings-container">
      <div title="Paramètres" class="btn" @click="displaySettings = !displaySettings">⚙️</div>

      <div v-show="displaySettings" class="btn" @click="switchMode(true)">
        <span v-if="mode === 'office'" title="Mode perso">🏠</span>
        <span v-if="mode === 'home'" title="Mode boulot">🏢</span>
      </div>

      <div class="btn" @click="toggleBookmarks(true)">🌄</div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useMagicKeys } from '@vueuse/core'
import { computed, onBeforeMount, ref, watch } from 'vue'

import CategoryPanel from '@/components/CategoryPanel.vue'
import SearchBar from '@/components/SearchBar.vue'
import WeatherPanel from '@/components/WeatherPanel.vue'
import bookmarksHidden from '@/content/bookmarks-hidden.json'
import bookmarksHome from '@/content/bookmarks-home.json'
import bookmarksOffice from '@/content/bookmarks-office.json'
import { getBackground } from '@/utils/getBackground'

import NewUrl from './NewUrl.vue'

const LS_MODE = 'nt_mode'
const COLORS = ['primary', 'secondary', 'success', 'warning', 'danger', 'info', 'dark']

// States
const displaySettings = ref(false)
const mode = ref('office')
const hideBookmarks = ref(false)

// Computed
const bookmarks = computed(() => [...bookmarksHidden, ...bookmarksHome, ...bookmarksOffice])
const searchColor = computed(() => COLORS[Math.floor(Math.random() * COLORS.length)])

// Set initial values and background
onBeforeMount(() => {
  // Set mode
  mode.value = localStorage.getItem(LS_MODE) || 'office'

  // Set today's background
  const background = getBackground()
  document.body.style.backgroundImage = `url('${import.meta.env.BASE_URL}img/backgrounds/${background}')`
})

// Hot keys management
const { ctrl_m, ctrl_p } = useMagicKeys({
  passive: false,
  onEventFired(e) {
    // Prevent default browser behavior
    if (e.ctrlKey && (e.key === 'm' || e.key === 'p') && e.type === 'keydown') e.preventDefault()
  }
})

watch(ctrl_m, switchMode)
function switchMode(fired: boolean) {
  if (!fired) return

  if (mode.value === 'office') mode.value = 'home'
  else if (mode.value === 'home') mode.value = 'office'

  localStorage.setItem(LS_MODE, mode.value)
}

watch(ctrl_p, toggleBookmarks)
function toggleBookmarks(fired: boolean) {
  if (!fired) return

  hideBookmarks.value = !hideBookmarks.value
}

watch(ctrl_p, (v) => {
  console.log(v)
  if (v) console.log('Control+A+B have been pressed')
})
</script>

<style scoped lang="scss">
#app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  transition: opacity 0.5s;

  @media (width <= 576px) {
    overflow: auto;
  }

  &.hide-bookmarks {
    opacity: 0;
  }

  &.office {
    align-items: center;
    padding: 10vh 5vh 5vh;

    @media (width <= 576px) {
      align-items: baseline;

      .card-columns {
        width: 100%;
      }
    }
  }

  &.home {
    align-items: stretch;
    padding: 20vh 2vh 2vh;

    #search-form {
      margin-bottom: auto;
    }

    .card-bottom {
      display: flex;
      align-items: flex-end;
      align-self: stretch;
      justify-content: space-between;

      @media (width <= 576px) {
        flex-direction: column;

        .home-categories {
          display: none;
        }

        .card {
          width: 100%;
          margin-top: 1rem;
        }
      }
    }
  }

  .settings-container {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1050;

    .btn {
      cursor: pointer;
      user-select: none;
      opacity: 0.1;
      transition: all ease 0.5s;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
</style>
