<template>
  <div class="new-url">Nouvelle URL : <a href="https://finrod.gitlab.io/hub/">https://finrod.gitlab.io/hub/</a></div>
</template>

<style scoped lang="scss">
.new-url {
  position: fixed;
  top: 1rem;
  right: 30%;
  left: 30%;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 4px;
}
</style>
