// United 4.1.0
// Bootswatch

@use 'sass:color';

// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aea79f !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #323a45 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #772953 !default;
$pink: #e83e8c !default;
$red: #df382c !default;
$orange: #e95420 !default;
$yellow: #efb73e !default;
$green: #38b44a !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$primary: $orange !default;
$secondary: $indigo !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-200 !default;
$dark: $purple !default;
$yiq-contrasted-threshold: 200 !default;

// Body

$body-color: $gray-800 !default;

// Fonts

$font-family-sans-serif: 'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol' !default;

// Tables

$table-dark-bg: $dark !default;
$table-dark-border-color: color.adjust($dark, $lightness: -5%) !default;

// List group

$list-group-item-padding-y: 0.5rem !default;
